{{ define "main" }}
<div class="content list h-feed">

{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages  }}

  <div class="list-item h-entry">
	{{ if .Title }}
		<h1 class="home-title p-name">{{ .Title }}</h1>
	{{ end }}
    <div class="content post e-content">
      {{ .Content }}
    </div>
    <div class="list-post-date">
      <a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></a>
    </div>
  </div>

{{ end }}

</div>
{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}

{{ end }}
